td {
    margin: 10px;
    padding:10px;
    text-align: center;
    border: solid 1px #ccc;
}

video{
    width:300px
}

.none {
    -webkit-filter: none;
}
.blur {
    -webkit-filter: blur(3px);
}
.grayscale {
    -webkit-filter: grayscale(1);
}
.contrast {
    -webkit-filter: contrast(5);
}
.invert {
    -webkit-filter: invert(1);
}
.sepia {
    -webkit-filter: sepia(1);
}
.sepia {
    -webkit-filter: sepia(1);
}
.custom {
    -webkit-filter: hue-rotate(60deg) saturate(3.4);
}
canvas.pic {
    width:320px;
    height:225px;
    margin:5px
}